<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img *ngIf="message?.image" src="{{message?.image}}">
    <img *ngIf="!message?.image && config.group_image" src="{{config.group_image}}">
    <img *ngIf="!message?.image && !config.group_image" src="assets/contentFallback.png">
    <ion-card-content>
      <ion-card-title>
        {{message?.subject}}
      </ion-card-title>
      <ion-chip color="primary">
        {{message?.created_at | date:'MMM dd, y'}}
      </ion-chip>
      <p [innerHtml]="message?.body"></p>
      <ion-button fill="outline" size="small" *ngFor="let dest of message?.template_destinations" (click)="openSection(dest)">
        {{ 'Open' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
