<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="revealGroups">
      {{ 'Groups' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ngClass="card-background-page" class="ion-padding">
  <div *ngIf="revealGroups">
    <div *ngFor="let g of groups">
      <ion-card *ngIf="g.public || g.is_member" (click)="switchGroup(g)">
        <img *ngIf="g.attributes.group_image" src="{{g.attributes._h500.group_image}}">
        <img *ngIf="!g.attributes.group_image" src="assets/contentFallback.png">
        <ion-card-content>
          <ion-card-title>
            {{g.name}}
          </ion-card-title>
          <p>{{g.description}}</p>
        </ion-card-content>
      </ion-card>

      <!-- preload group images -->
      <img *ngIf="g.attributes.group_image" src="{{g.attributes.group_image}}" width="0" height="0">
      <img *ngIf="g.attributes.inside_page_background_image" src="{{g.attributes.inside_page_background_image}}" width="0" height="0">
      <img *ngIf="g.attributes.main_background" src="{{g.attributes.main_background}}" width="0" height="0">

    </div>

  </div>

</ion-content>
