<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!auMessages.length && config.hide_header_title != 1">
      {{section?.id > 0 ? section?.name : section?.name | translate}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <h1 *ngIf="auMessages.length">
    {{section?.id > 0 ? section?.name : section?.name | translate}}
  </h1>

  <ion-list *ngIf="auMessages" inset>
    <ion-item *ngFor="let m of auMessages; let i = index" (click)="openMessage(m)" text-wrap>
      <ion-thumbnail slot="start">
        <ng-container *ngIf="i==0">
          <img *ngIf="m.image" src="{{m.image}}">
          <img *ngIf="!m.image && config.group_image" src="{{config.group_image}}">
        </ng-container>
        <ng-container *ngIf="i!=0">
          <img *ngIf="m.image" src="{{m.image_thumb}}">
          <img *ngIf="!m.image && config.group_image" src="{{config._thumbs.group_image}}">
        </ng-container>
        <img *ngIf="!m.image && !config.group_image" src="assets/contentFallback.png">
      </ion-thumbnail>
      <ion-label>
        <ion-chip color="{{m.last_read ? 'visited' : ''}}">
          {{m.created_at | date:'MMM dd, y'}}
        </ion-chip>
        <h2>{{m.subject}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="!auMessages.length">
    <ion-row>
      <ion-col class="ion-text-center">

        <fa-icon [icon]="section?.icon | faSplit" color="primary" [ngStyle]="{'font-size': '5em'}"></fa-icon>

        <h1 *ngIf="section?.params?.fallback_text">
          {{section.params.fallback_text}}
        </h1>
        <h1 *ngIf="!section?.params?.fallback_text">
          {{ 'Sorry, there is no content in this section yet' | translate }}
        </h1>
        <br>
        <br>
        <ion-button color="primary" size="large" (click)="openDashboardSection()">
          {{ 'Home' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
