ion-slide {
    display: grid;
}

.country-picker {

    ion-select {
        background-repeat: no-repeat;
        // size of the flag
        background-size: 1em;
        background-position: left center;

        // push the selected value to right
        padding-left: 20px;
        padding-right: 0px;
    }

}
