<ion-content class="ion-padding">

  <div class="ion-text-center">
    <img src="assets/logo.png" class="ion-text-center" alt="logo" />
    <h3>{{ "Let's make you grow" | translate }}</h3>
  </div>

  <ion-slides #welcomeSlider spaceBetween="16" (ionSlideWillChange)="slideWillChange()">


    <ion-slide *ngIf="features.welcomeWelcome">
      <br>

      <ion-button *ngIf="features.welcomeRecognizePhone || features.welcomeRecognizeEmail" expand="block" size="large" (click)="goToSlide('welcomeRecognizeAny')">
        {{ "Log in" | translate }}
      </ion-button>

      <ion-button *ngIf="features.welcomeCreateEmailPhone" expand="block" size="large" (click)="goToSlide('welcomeCreateEmailPhone')">
        {{ "Create an account" | translate }}
      </ion-button>

      <ion-button *ngIf="features.welcomeFacebook" expand="block" size="large" (click)="logInWithFacebook()">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        {{ "Log in with Facebook" | translate }}
      </ion-button>

      <ion-button *ngIf="features.welcomeGuest" expand="block" size="large" fill="clear" color="dark" (click)="registerAsGuest()">
        {{ "I don't want to register, just let me in" | translate }}
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>

    </ion-slide>


    <ion-slide *ngIf="features.welcomeRecognizePhone">
      <h2>{{ "Send verification" | translate }}</h2>

      <form (ngSubmit)="recognize('phone')">

        <ion-grid>
          <ion-row>
            <ion-col size="4" class="country-picker">
              <ion-select name="phone_code" [(ngModel)]="countryPicker.value"
                (ionChange)="onCountryPicked($event, 'recognizeId')"
                interface="popover"
                [interfaceOptions]="countryPicker.interfaceOptions"
                [ngStyle]="{'background-image': 'url(./assets/flag-icon-css/' + countryPicker.value + '.svg)'}"
              >
                <ion-select-option *ngFor="let c of countries" [value]="c.iso2">
                  +{{c.dialCode}} {{c.name}}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="8">
              <ion-input type="number" min="0" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="recognizeId.phone" name="phone" placeholder="{{ 'Phone number' | translate }}"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button type="submit" expand="block" size="large">
          {{ "Send" | translate }}
        </ion-button>

      </form>

      <br>

      <ion-button *ngIf="features.welcomeRecognizeEmail" expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeRecognizeEmail')">
        {{ "Send by email" | translate }}
      </ion-button>

      <br>

      <ion-button *ngIf="features.welcomeWelcome" expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeWelcome')">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        {{ "Back" | translate }}
      </ion-button>

    </ion-slide>


    <ion-slide *ngIf="features.welcomeRecognizeEmail">
      <h2>{{ "Send verification" | translate }}</h2>

      <form (ngSubmit)="recognize('email')">

        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon>
          </ion-label>
          <ion-input type="email" [(ngModel)]="recognizeId.email" name="email" placeholder="{{ 'Email address' | translate }}"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" size="large">
          {{ "Send" | translate }}
        </ion-button>

      </form>

      <br>

      <ion-button *ngIf="features.welcomeRecognizePhone" expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeRecognizePhone')">
        <ion-label>{{ "Send by phone number" | translate }}</ion-label>
      </ion-button>

      <br>

      <ion-button expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeWelcome')">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        <ion-label>{{ "Back" | translate }}</ion-label>
      </ion-button>

    </ion-slide>


    <ion-slide *ngIf="features.welcomeVerificationCode">

      <h2>{{ "Log in" | translate }}</h2>

      <div *ngIf="recognizeQue.auth_field">
        {{ "Please type the verification sent to" | translate}}
        <b>{{recognizeQue.auth_field}}</b>
      </div>

      <form *ngIf="recognizeQue.auth_field" (ngSubmit)="verify()">

        <ion-item>
          <ion-label>
            <ion-icon name="grid"></ion-icon>
          </ion-label>
          <ion-input type="number" min="0" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="verifyQue.verification" name="verification" placeholder="{{ 'Verification' | translate }}"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" size="large">
          {{ "Log in" | translate }}
        </ion-button>

      </form>

      <br>

      <ng-container *ngIf="features.welcomeRecognizePhone || features.welcomeRecognizeEmail">
        <ion-button expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeRecognizeAny')">
          {{ "Get verification" | translate }}
        </ion-button>
      </ng-container>

      <br>

      <ion-button expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeWelcome')">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        {{ "Back" | translate }}
      </ion-button>

    </ion-slide>


    <ion-slide *ngIf="features.welcomeCreateEmailPhone">
      <h2>{{ "Create an account" | translate }}</h2>

      <form (ngSubmit)="registerWithEmailAndPhone()">

        <ion-grid>

          <ion-row>
            <ion-col size="6">
              <ion-icon name="person"></ion-icon>
              <ion-input type="text" [(ngModel)]="reg.first_name" name="first_name" placeholder="{{ 'First name' | translate }}"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-input type="text" [(ngModel)]="reg.last_name" name="last_name" placeholder="{{ 'Last name' | translate }}"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-icon name="mail"></ion-icon>
              <ion-input type="email" [(ngModel)]="reg.email" name="email" placeholder="{{ 'Email address' | translate }}">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4" class="country-picker">
              <ion-select name="phone_code" [(ngModel)]="countryPicker.value"
                (ionChange)="onCountryPicked($event, 'reg')"
                interface="popover"
                [interfaceOptions]="countryPicker.interfaceOptions"
                [ngStyle]="{'background-image': 'url(./assets/flag-icon-css/' + countryPicker.value + '.svg)'}"
              >
                <ion-select-option *ngFor="let c of countries" [value]="c.iso2">
                  +{{c.dialCode}} {{c.name}}
                </ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="8">
              <ion-input type="number" min="0" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="reg.phone" name="phone" placeholder="{{ 'Phone number' | translate }}"></ion-input>
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-button type="submit" expand="block" size="large">
          {{ "Create an account" | translate }}
        </ion-button>

      </form>

      <br>

      <ion-button expand="block" fill="clear" color="dark" (click)="goToSlide('welcomeWelcome')">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        {{ "Back" | translate }}
      </ion-button>

    </ion-slide>


  </ion-slides>
</ion-content>
