<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-title>
      {{ 'Settings' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" fill="clear" end (click)="dismiss()">
        <ion-icon name="ios-close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>{{ 'Settings' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="fixed">{{ 'First name' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">{{ 'Last name' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">{{ 'Telephone' | translate }}</ion-label>
      <ion-input col-3 type="number" min="0" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="user.phone_code"
        placeholder="123"></ion-input>
      <ion-input col-5 type="number" min="0" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="user.phone"
        placeholder="87654321"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">{{ 'Email' | translate }}</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item *ngIf="false">
      <ion-label position="fixed">{{ 'Password' | translate }}</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-button color="primary" (click)="submit()">
        {{ 'Save' | translate }}
      </ion-button>
    </ion-item>

  </ion-list>



  <ion-list lines="none">

    <ion-list-header>
      <ion-label>{{ 'Log out' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ 'Log out to change to another user' | translate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label></ion-label>
      <ion-button color="primary" (click)="logOut()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        {{ 'Log out' | translate }}
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-list lines="none">

    <ion-list-header>
      <ion-label>{{ 'Export data' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ 'Receive an archive of your data' | translate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label></ion-label>
      <ion-button color="primary" (click)="exportData()">
        <ion-icon name="download" slot="start"></ion-icon>
        {{ 'Export' | translate }}
      </ion-button>
    </ion-item>

  </ion-list>



  <ion-list lines="none">

    <ion-list-header>
      <ion-label>{{ 'Delete user' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ 'Permanently remove your data' | translate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label></ion-label>
      <ion-button color="primary" (click)="deleteUser()">
        <ion-icon name="remove-circle" slot="start"></ion-icon>
        {{ 'Delete' | translate }}
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>

</ion-footer>
