<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="config.hide_header_title != 1">
      {{article?.name}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="config.inside_page_top_image && !article?.picture && config.article_show_top_image">
      <img src="{{config.inside_page_top_image}}" alt="config.inside_page_top_image" />
    </div>
    <div>
      <div *ngIf="config.logo_small" [attr.text-center]="config.article_text_center == 1 ? '' : null">
        <img src="{{config.logo_small}}" alt="config.logo_small" />
      </div>
      <h1 *ngIf="!config.inside_page_hide_title" [attr.text-center]="config.article_title_center == 1 ? '' : null">
        {{article?.title}}
      </h1>
      <ion-chip *ngIf="article?.published_at">
        {{article?.published_at | date: dateFormat}}
      </ion-chip>
      <hr *ngIf="config.article_show_title_sepeator">
      <ion-slides *ngIf="article?.images?.length" autoplay=3000 speed="1500" [attr.loop]="article.images.length > 1 ? '' : null">
        <ion-slide *ngFor="let im of article?.images">
          <img src="{{im}}" alt="" />
        </ion-slide>
      </ion-slides>
      <div [innerHtml]="article?.body | trustHtml"></div>
    </div>
  </div>
</ion-content>
