<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="config.hide_header_title != 1">
      {{ 'Profile' | translate }}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1 && !config.dashboard_hide_header_logo" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center' && !config.dashboard_hide_header_logo" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!user?.is_guest" lines="none">
    <ion-item (click)="goToSettings()">
      <ion-avatar>
        <img src="{{user && user.image ? user.image : 'assets/user.png'}}" alt="user profile image">
        <ion-badge color="important" slot="end">
          <ion-icon name="md-create"></ion-icon>
        </ion-badge>
      </ion-avatar>
      <ion-label>
        <h2 *ngIf="user && user.first_name">
          <span [innerText]="user.first_name"></span>
          <span [innerText]="user.last_name"></span>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="user?.is_guest" lines="none" class="ion-padding">
    <ion-row>&nbsp;</ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="becomeUser()">
          <ion-icon name="person-add" slot="start"></ion-icon>
          {{ "Create an account" | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="logOut()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          {{ 'Log out' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list>

    <ng-container *ngFor="let s of qSets | async">

      <ion-item>
        <fa-icon [icon]="s.attributes.introduction_image | faSplit" slot="start"></fa-icon>
        <ion-label>{{s.name}}</ion-label>
        <ion-button color="{{s.unanswered_questions > 0 ? 'danger' : 'primary'}}" slot="end"
          (click)="startQuestionnaire(s.id, newOnly = (s.unanswered_questions > 0))">
          {{s.unanswered_questions > 0 ? s.unanswered_questions : s.answered_questions}}
        </ion-button>
        <ion-button *ngIf="s.answered_questions > 0 && s.unanswered_questions > 0" color="primary" slot="end"
          (click)="startQuestionnaire(s.id, newOnly = false)">
          {{s.answered_questions}}
        </ion-button>
      </ion-item>

    </ng-container>

  </ion-list>

  <ion-grid *ngIf="!qSetsLen" class="ion-justify-content-center ion-text-center">
    <ion-row>
      <ion-col>
        <ion-icon name="sunny"  color="primary" [ngStyle]="{'font-size': '5em'}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>{{ 'No questions' | translate }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" fill="clear" (click)="aboutApp()">
        <ion-icon name="ios-information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
