<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="config.hide_header_title != 1">
      {{category ? category?.name : section?.name}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <h1 *ngIf="categoryList?.length" class="ion-padding" no-margin>
    {{category ? category?.name : section?.name}}
  </h1>

  <ion-grid no-padding *ngIf="categoryList?.length">
    <ion-row>
      <ion-col *ngFor="let c of categoryList" (click)="openCategory(c)" size="6" size-sm="6" size-md="4" size-lg="3"
        size-xl="2">
        <ion-thumbnail>
          <img src="{{(c.images.length > 0) ? c.images[0] : 'assets/contentFallback.png'}}">
        </ion-thumbnail>
        <h3 class="ion-padding" no-margin>{{c.name}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!categoryList?.length && isLoaded">
    <ion-row>
      <ion-col class="ion-text-center">

        <fa-icon [icon]="section?.icon | faSplit" color="primary" [ngStyle]="{'font-size': '5em'}"></fa-icon>

        <h1 *ngIf="section?.params?.fallback_text">
          {{section.params.fallback_text}}
        </h1>
        <h1 *ngIf="!section?.params?.fallback_text">
          {{ 'Sorry, there is no content in this section yet' | translate }}
        </h1>
        <br>
        <br>
        <ion-button color="primary" size="large" (click)="openDashboardSection()">
          {{ 'Home' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
