<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!catalogList.length && config.hide_header_title != 1">
      {{section?.id > 0 ? section?.name : section?.name | translate}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="catalogList.length && config.inside_page_top_image">
    <img src="{{config.inside_page_top_image}}" alt="config.inside_page_top_image" />
  </div>

  <div *ngIf="catalogList.length">
    <div *ngIf="config.logo_small">
      <img src="{{config.logo_small}}" alt="config.logo_small" />
    </div>

    <h1 class="ion-padding">
      {{section?.id > 0 ? section?.name : section?.name | translate}}
    </h1>

    <ion-list>
      <ion-item class="ion-padding" col-6 *ngFor="let clg of catalogList" (click)="openCatalog(clg)">
        <ion-label>
          <h2>{{clg.name}}</h2>
          <p [innerHtml]="clg.key"></p>
          <p [innerHtml]="clg.description"></p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

  <ion-grid *ngIf="!catalogList.length && isLoaded">
    <ion-row>
      <ion-col class="ion-text-center">

        <fa-icon [icon]="section?.icon | faSplit" color="primary" [ngStyle]="{'font-size': '5em'}"></fa-icon>

        <h1 *ngIf="section?.params?.fallback_text">
          {{section.params.fallback_text}}
        </h1>
        <h1 *ngIf="!section?.params?.fallback_text">
          {{ 'Sorry, there is no content in this section yet' | translate }}
        </h1>
        <br>
        <br>
        <ion-button color="primary" size="large" (click)="openDashboardSection()">
          {{ 'Home' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
