<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!articleList.length && config.hide_header_title != 1">
      {{section?.name}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content ngClass="{{config.article_list_content_alignment ? config.article_list_content_alignment : ''}}">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="articleList.length && config.inside_page_top_image">
    <img src="{{config.inside_page_top_image}}" alt="config.inside_page_top_image" />
  </div>

  <div *ngIf="articleList.length">
    <div *ngIf="config.logo_small">
      <img src="{{config.logo_small}}" alt="config.logo_small" />
    </div>

    <h1 class="ion-padding" ngClass="{{config.article_list_title_alignment ? config.article_list_title_alignment : ''}}">
      {{section?.name}}
    </h1>

    <ion-list *ngIf="section?.params.catalog_items_list_type == 'list'">
      <ion-item class="ion-padding" col-6 *ngFor="let ar of articleList" (click)="openArticle(ar)">
        <ion-thumbnail slot="start">
          <img *ngIf="ar.images?.length" src="{{ar.images[0]}}">
          <img *ngIf="!ar.images?.length && config.group_image" src="{{config.group_image}}">
          <img *ngIf="!ar.images?.length && !config.group_image" src="assets/contentFallback.png">
        </ion-thumbnail>
        <ion-label>
          <ion-chip *ngIf="ar.publish_at" color="primary">
            {{ar.publish_at | date: dateFormat}}
          </ion-chip>
          <h2>{{ar.name}}</h2>
          <p *ngIf="config.article_list_description_show">
            {{ar.body | plainText | limitTo: (config.article_list_description_length ? config.article_list_description_length : 100)}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-row *ngIf="section?.params.catalog_items_list_type == 'grid'">
      <ion-col class="ion-padding" size="6" *ngFor="let ar of articleList" (click)="openArticle(ar)">
        <ion-thumbnail>
          <img *ngIf="ar.images.length" src="{{ar.images[0]}}">
          <img *ngIf="!ar.images.length && config.group_image" src="{{config.group_image}}">
          <img *ngIf="!ar.images.length && !config.group_image" src="assets/contentFallback.png">
        </ion-thumbnail>
        <h2>{{ar.name}}</h2>
        <p *ngIf="config.article_list_description_show">
          {{ar.body | plainText | limitTo: (config.article_list_description_length ? config.article_list_description_length : 100)}}
        </p>
        <ng-container *ngFor="let atr of ar?.attributes">
          <h4 no-margin *ngIf="atr.value && atr.name == 'Price'">{{atr.value}}</h4>
          <span *ngIf="atr.value && atr.name != 'Price'">{{atr.name}}: {{atr.value}}</span>
        </ng-container>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid *ngIf="!articleList.length && isLoaded">
    <ion-row>
      <ion-col class="ion-text-center">

        <fa-icon [icon]="section?.icon | faSplit" color="primary" [ngStyle]="{'font-size': '5em'}"></fa-icon>

        <h1 *ngIf="section?.params?.fallback_text">
          {{section.params.fallback_text}}
        </h1>
        <h1 *ngIf="!section?.params?.fallback_text">
          {{ 'Sorry, there is no content in this section yet' | translate }}
        </h1>
        <br>
        <br>
        <ion-button color="primary" size="large" (click)="openDashboardSection()">
          {{ 'Home' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
