<div [innerHTML]="styles | trustHtml"></div>

<ion-app>
  <ion-split-pane>
    <ion-menu [disabled]="!data.state.menuEnabled" type="overlay">
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="openProfileSection()">
              <ion-avatar>
                <img src="{{user && user.image ? user.image : 'assets/user.png'}}" alt="user profile image">
                <ion-badge *ngIf="totalUnanswered > 0" color="danger" slot="end">{{totalUnanswered}}</ion-badge>
                <ion-badge *ngIf="totalUnanswered < 1" color="important" slot="end">
                  <ion-icon name="md-create"></ion-icon>
                </ion-badge>
              </ion-avatar>
              <ion-label>
                <h2 *ngIf="user && user.first_name">
                  <span [innerText]="user.first_name"></span>
                  <span *ngIf="!user.is_guest" [innerText]="user.last_name"></span>
                </h2>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let s of sections">
            <ion-item *ngIf="s.enabled && (s.component != 'GroupsPage' || revealGroups)" ngClass="{{data.state.menuCurrent == s.id ? 'active activated' : ''}}" (click)="openSection(s)">
              <fa-icon [icon]="s.icon | faSplit" pull="left"></fa-icon>
              <ion-label>
                {{s.id > 0 ? s.name : s.name | translate}}
              </ion-label>
              <ion-badge *ngIf="badges[s.id] > 0" color="danger" slot="end">{{badges[s.id]}}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
