<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!depositCategoryIndex.length && config.hide_header_title != 1">
      {{section?.name}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="depositCategoryIndex.length && config.inside_page_top_image">
    <img src="{{config.inside_page_top_image}}" alt="config.inside_page_top_image" />
  </div>

  <div *ngIf="depositCategoryIndex.length">
    <div *ngIf="config.logo_small">
      <img src="{{config.logo_small}}" alt="config.logo_small" />
    </div>

    <h1 *ngIf="depositCategoryIndex.length">{{section?.name}}</h1>

    <ion-list *ngIf="depositCategoryIndex.length" inset>
      <p class="ion-text-center">
        <ng-container *ngIf="section?.params?.information">
          {{section.params.information}}
        </ng-container>
        <ng-container *ngIf="!section?.params?.information">
          {{ 'You have deposited' | translate }}
        </ng-container>
      </p>
      <ion-item *ngFor="let category of depositCategoryIndex" class="ion-text-wrap ion-text-center">
        <ion-label>
          <p *ngIf="category.deposits.length == 1">
            {{category.deposits.length}}
            {{category.attributes.singular}}
          </p>
          <p *ngIf="category.deposits.length > 1">
            {{category.deposits.length}}
            {{category.attributes.plural}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

  <ion-grid *ngIf="!depositCategoryIndex.length && isLoaded">
    <ion-row>
      <ion-col class="ion-text-center">

        <fa-icon [icon]="section?.icon | faSplit" color="primary" [ngStyle]="{'font-size': '5em'}"></fa-icon>

        <h1 *ngIf="section?.params?.fallback_text">
          {{section.params.fallback_text}}
        </h1>
        <h1 *ngIf="!section?.params?.fallback_text">
          {{ 'Here you will see what you have deposited' | translate }}
        </h1>
        <br>
        <br>
        <ion-button color="primary" size="large" (click)="openDashboardSection()">
          {{ 'Home' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
