<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!showMetaScreen">
    <div *ngIf="question && question.id">

      <h2 [innerText]="question.name"></h2>

      <div class="stars" *ngIf="question.widget === 'star_review'" class="ion-padding" [(ngModel)]="answer">
        <ion-radio-group>
          <div class="star" *ngFor="let o of question.options">
            <ion-radio slot="start" [value]="o.value" (click)="addRangeClass(o.value)"></ion-radio>
            <ion-label>
              <ion-icon name="star-outline"></ion-icon>
            </ion-label>
          </div>
        </ion-radio-group>
      </div>

      <ion-list *ngIf="question.type === 'options' && !question.is_collection && question.widget != 'star_review'" class="ion-padding" [(ngModel)]="answer">
        <ion-radio-group>
          <ion-item *ngFor="let o of question.options">
            <ion-label text-wrap>{{o.name}}</ion-label>
            <ion-radio slot="start" [value]="o.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-list *ngIf="question.type === 'options' && question.is_collection" class="ion-padding">
        <ion-item *ngFor="let o of question.options">
          <ion-label text-wrap>{{o.name}}</ion-label>
          <ion-checkbox [(ngModel)]="answer[o.id]"></ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-button expand="block" size="large" (click)="submit()">
        {{ 'Next' | translate }}
      </ion-button>

    </div>
  </div>


  <div *ngIf="showMetaScreen == 'intro'">

    <div *ngIf="qSet && qSet.id">
      <p>
        <fa-icon [icon]="qSet.attributes.introduction_image | faSplit" color="primary"></fa-icon>
      </p>
      <h1 [innerText]="qSet.name"></h1>
      <h2 [innerText]="qSet.attributes.introduction_headline"></h2>
      <p [innerText]="qSet.attributes.introduction_content"></p>
    </div>

    <ion-button expand="block" size="large" (click)="showNextQuestion(qSet.id)">
      {{ 'Start' | translate }}
    </ion-button>

  </div>

  <div *ngIf="showMetaScreen == 'outro'">

    <div *ngIf="qSet && qSet.id">
      <p>
        <fa-icon [icon]="qSet.attributes.thankyou_image | faSplit"></fa-icon>
      </p>
      <h2 [innerText]="qSet.attributes.thankyou_headline"></h2>
      <p [innerText]="qSet.attributes.thankyou_content"></p>
    </div>

    <ion-button expand="block" size="large" (click)="dismiss()">
      {{ 'Finish' | translate }}
    </ion-button>

  </div>

</ion-content>
