<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="config.hide_header_title != 1">
      {{section?.id > 0 ? section?.name : section?.name | translate}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1 && !config.dashboard_hide_header_logo" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center' && !config.dashboard_hide_header_logo" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [attr.padding]="!config.dashboard_grid ? '' : null">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="config.logo && config.dashboard_show_content_logo">
    <img src="{{config.logo}}" class="ion-text-center" alt="" />
  </div>

  <ng-container *ngIf="!config.dashboard_cardlist && !config.dashboard_hide_list">
    <ion-grid [ngClass]="config.dashboard_grid ? 'grid_list' : ''">
      <ion-row>
        <ng-container *ngFor="let s of sections | async">
          <ion-col *ngIf="isSectionInDash(s)" [attr.col-12]="!config.dashboard_grid ? '' : null" [attr.col-6]="config.dashboard_grid ? '' : null" size-sm="6" size-md="4" size-lg="3" size-xl="2">
            <ion-item *ngIf="!config.dashboard_grid" lines="none" (click)="openSection(s)">
              <ion-label>
                <h3 slot="start">
                  {{s.id > 0 ? s.name : s.name | translate}}
                </h3>
              </ion-label>
              <ion-avatar slot="end">
                <fa-icon [icon]="s.icon | faSplit" color="primary"></fa-icon>
              </ion-avatar>
            </ion-item>
            <ion-card *ngIf="config.dashboard_grid" (click)="openSection(s)" class="ion-text-center">
              <fa-icon [icon]="s.icon | faSplit" color="primary"></fa-icon>
              <h3>
                {{s.id > 0 ? s.name : s.name | translate}}
              </h3>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="config.dashboard_cardlist">
    <ng-container *ngFor="let s of sections | async">
      <ion-card *ngIf="isSectionInDash(s)" lines="none" (click)="openSection(s)">
        <img src="{{s?.images?.length ? s.images[0] : 'assets/contentFallback.png'}}" />
        <ion-card-content>
          <ion-card-title>
            {{s.id > 0 ? s.name : s.name | translate}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

</ion-content>
