<div [innerHTML]="styles | trustHtml"></div>

<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-button>
        <ion-icon name="{{config.burger_icon ? config.burger_icon : 'menu'}}"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="config.hide_header_title != 1">
      {{section?.name}}
    </ion-title>
    <ion-title *ngIf="config.logo_in_header == 1" [ngClass]="(config.header_align_content ? config.header_align_content + ' group_logo' : null)">
      <img src="{{config.logo}}" alt="Group logo" />
    </ion-title>
    <ion-buttons *ngIf="config.logo_in_header == 1 && config.header_align_content == 'text-center'" slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <div *ngIf="config.inside_page_top_image">
      <img src="{{config.inside_page_top_image}}" alt="Top image" />
    </div>
    <div class="ion-padding">
      <h1>{{user.first_name}} {{user.last_name}}</h1>
      <h6>{{ 'Telephone' | translate }}: +{{user.phone_code}} {{user.phone}}<br>
        {{ 'E-mail address' | translate }}: {{user.email}}
      </h6>
      <ng-container *ngFor="let question of questions">
        <h3 *ngIf="question.type == 'boolean'">{{question.name}}</h3>
        <p *ngIf="question.type == 'options' && !question.is_collection">{{question.name}}<br>
          <ng-container *ngFor="let option of question.options">
            <strong *ngIf="option.id == question.answers">{{option.name}}</strong>
          </ng-container>
        </p>
        <p *ngIf="question.type == 'options' && question.is_collection">{{question.name}}<br>
          <ng-container *ngFor="let answer of question.answers;">{{getMatching(question.answers, question.options)}}
            <ng-container *ngFor="let index of optionIndexes">
              <strong *ngIf="question.options[index].id == answer">{{question.options[index].name}}<br></strong>
            </ng-container>
          </ng-container>
        </p>
        <p *ngIf="question.type == 'varchar'">{{question.name}}<br>
          <strong>{{question.answers}}</strong>
        </p>
      </ng-container>
    </div>

  </div>

</ion-content>
